//Imports
@import "variables";
// body all pages
body{
    font-family: 'DM Sans', sans-serif;
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
}
@font-face{
    font-family: 'DM Sans', sans-serif;
    font-display: swap;
}
// Mobile First Responsive 320px 528px a 768px = MF
//Grillas Grid distribuidas para posible edición futura
//Responsive MF 'Index'
#grilla__Index{
    display: grid;
    height: 100%;
    width: 100vw;
    gap: .1em;
    //Posición áreas
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
//Responsive MF 'Blog'
#grilla__Blog{
    display: grid;
    height: 100%;
    width: 100vw;
    gap: .1em;
    //Posición áreas
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
//Responsive MF 'Contactanos'
#grilla__Contacto{
    display: grid;
    height: 100%;
    width: 100vw;
    gap: .1em;
    //Posición áreas
    grid-template-areas: 
    "header "
    "main"
    "footer";
}
//Responsive MF 'Nosotros'
#grilla__Nosotros{
    display: grid;
    height: 100%;
    width: 100vw;
    gap: .1em;
    //Posición áreas
    grid-template-areas: 
    "header "
    "main"
    "footer";
}
//Responsive MF 'Servicios'
#grilla__Servicios{
    display: grid;
    height: 100%;
    width: 100vw;
    gap: .1em;
    //Posición áreas
    grid-template-areas: 
    "header "
    "main"
    "footer";
}
#grilla__termycond{
    display: grid;
    height: 100%;
    width: 100vw;
    gap: .1em;
    //Posición áreas
    grid-template-areas: 
    "header "
    "main"
    "footer";
}
//Cierra grillas grid
//Configuraciones all pages
//Abre header index and all pages
header{
    width: 100vw;
    height: 2%;
    clear: both;
    content:'';
    position: sticky;
    top: 0;
    z-index: 45;
    grid-area: header;
    nav{
        background-color: $color-backgraund1;
        div{
            div{
                ul{
                    li{
                        border-radius: 5pt;
                    }
                    a{
                        &:hover{
                            -moz-transition: all .1ms;
                            -webkit-transition: all .1ms;
                            -o-transition: all .1ms;
                            transition: all .1ms;
                            background-color: #a168d3;
                            border-radius: 5pt;
                        }
                    }
                }
            }
        }
    }
}

//Modificación bootstrap navBar
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link{
    color: $letra__color-titulos1;
    font-weight: bold;
    &:hover{
        -moz-transition: all .1s;
        -webkit-transition: all .1s;
        -o-transition: all .1s;
        transition: .1s all;
        color: #ffff;
    }
}
// Abre config Logo Estudio en header all pages
.header__containerLogo{
    max-width: 100%;
    display: flex;
    justify-content: center;
}
.header__containerLogo-img{
    width: $logo-width;
    height: 100%;
}
// Cierra config Logo Estudio en header all pages
//Cierra header index and all pages
//Abre footer index and all pages
footer{
    background-color: #cdb8e0;
    color: $letra__color-titulos1;
    div a{
        text-decoration: none;
        color: $letra__color-titulos1;
        &:hover{
            text-decoration:wavy;
            color: $letra__color-titulos1;
        }
    }
}
.footer__logo{
    width: $logo-width;
    height: 100%;
    margin-bottom: 1em;
}
.footer__redes{
    @extend .flex__ColumnCenterAll;
    text-align: center;
    img{
        width: calc(1.5em + 1.5vw);
        height: calc(1.2em + 1.2vh);
        margin-right: .4em;
        &:hover{
            -moz-transition: all .1s;
            -webkit-transition: all .1s;
            -o-transition: all .1s;
            transition: all 1s;
            border-radius:50%;
            -webkit-border-radius:50%;
            -o-border-radius:50%;
            -moz-border-radius:50%;
            box-shadow: 0px 0px 15px 15px #1f415b;
            -webkit-box-shadow: 0px 0px .5em .5em #1f415b;
            -o-box-shadow: 0px 0px .5em .5em #1f415b;
            -moz-box-shadow: 0px 0px .5em .5em #1f415b;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
        }
    }
    .socialMedia{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 40%;
        height: 50%;
        justify-content: space-evenly
    }
}
.footer__copyright{
    @include margin__Espaciado(1em,1em);
}
//Cierra footer MobileFirst  index and all pages
//Abre Responsive MF 'index'
//Abre config main 'index' MF
.main__Index{
    @extend .main;
}
//Cierra config main 'index' 
//particles
#particles-js{
    height: 100%;
    width: 100%;
    position: absolute;
    max-height: 150px;
}
//Abre carousel 'index' +1200px
.carousel__banner{
    position: relative;
    z-index: 99%;
}
//Abre section servicios 'index' MF
.section__Index__servicios{
    @extend .flex__ColumnCenterAll;
    justify-content: space-around;
    width: 100%;
}
.section__Index__servicios__h1{
    @include title;
}
//cardsIndex
.contenedor__CardsServ{
        @include margin__Espaciado(1em,1em);
        @extend .flex__ColumnCenterAll;
}
.contenedor__CardsServ__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 14rem;
        height: 20rem;
        border-radius: 10pt;
        background: white;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        -o-box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        text-align: center;
        -moz-transition: 0.5s ease;
        -webkit-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
        @include margin__Espaciado(2em,2em);
        cursor: pointer;
        &:hover {
        -webkit-transform: scale(1.15);
        -o-transform: scale(1.15);
        -moz-transform: scale(1.15);
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        -o-box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
        }
}
.contenedor__CardsServ__card-h3{
    margin: .2em;
    font-weight: bold;
    font-size: map-get($map: $tamaños, $key: widht3);
    color: map-get($map: $colores, $key: color-p );
    text-align: center;
    @include margin__Espaciado(1em,0);
}
.contenedor__CardsServ__card-IMG{
    height: 10rem;
}
.btn__cards{
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    &:hover{
        background-color: #a168d3;
        color: white; 
    }
}
.contenedor__CardsServ__card-btnServ{
    margin: 1em;
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    &:hover{
        background-color: #a168d3;
        color: white; 
    }
}
//cierra cardsIndex
//Cierra section servicios 'index' MF
//abre Seccion 'index' articulos pages
.section__index__article{
    border-top: #1f415b solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 2em;
    @include margin__Espaciado(4em,1em);
}
.section__index__article-h2{
    color: map-get($map: $colores, $key: color-titulos1);
}

.section__index__article-ContainerImg{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin__Espaciado(1em,0em);
}
.section__index__article-img{
    width: 90%;
    &:hover{
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        width: 100%;
    }
}
.section__index__article-contenedorTop{
    @include flex__Center;
    width: 50px;
}
.section__index__article-top{
    width: 30px;
}
//cierra Seccion 'index' Articulo Equipo
//Abre Estilo Main BLOG Mobile First
.main__Blog{
    @extend .main;
}
// Abre Blog y Servicios Banner 'blog'
.banner{
    @extend .flex__Center;
    width: 100%;
    padding: 0;
}
.banner-IMG{
    max-width: 100%;
    height: 100%;
    width: 100%;
}
// cierra Blog y Servicios Banner 'blog'
//abre Sección publicaciones 'blog'
.blog__section__publicaciones{
    @extend .flex__ColumnCenterAll;
    align-items: center;
}
.blog__section__publicacion{
    @include margin__Espaciado(1em,1em);
    @extend .flex__ColumnCenterAll;
    width: 100%;
}
.blog__section__publicaciones-h1{
    @include title;
    text-transform: uppercase;
}
.blog__section__publicaciones-a{
    text-decoration: none;
    color: map-get($map: $colores, $key: color-titulos1);
}
.blog__section__publicaciones-card{
    width: 14rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.blog__section__publicaciones__containerIMG{
    width: 100%;
    height: 10rem;
    overflow: hidden;
}
.blog__section__publicaciones__containerIMG-IMG{
    width: 100%;
    height: 100%;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    &:hover{
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
        cursor: pointer;
    }
}
.blog__section__publicaciones-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.blog__section__publicaciones-cardTitle{
    text-align: center;
}
.blog__section__publicaciones-cardText{
    @include margin__Espaciado(.5em,1em);
}
.blog__section__publicaciones__boton{
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    &:hover{
        background-color: #a168d3;
        color: white; 
    }
}
.card-text:last-child {
    margin-bottom: 1em;
}
//Sección 2 'blog' MF
.blog__section__contenedor{
    @include flex__ColumnCenterAll;
    @include margin__Espaciado(2em,2em);
}
//Formulario 'blog'
.blog__form__sugerencias{
    border-top: #1f415b solid 2px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
}
.blog__form__sugerencias-h2{
    @include margin__Espaciado(2em,2em);
    @include title;
}
.blog__form__sugerencias__contenedor-1{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
}
.blog__form__sugerencias__contenedor-2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;
    @include margin__Espaciado (1em,1em);
}
.blog__form__sugetencias__input{
    width: 100%;
    border-style: none;
    box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 5px 2px 20px;
}

//Article Contacto 'blog'
.blog__section__contenedor__article{
    border-top: #1f415b solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 2em;
    @include margin__Espaciado(4em,1em);
}
.blog__section__contenedor__article-ContainerImg{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin__Espaciado(1em,0em);
}
.blog__section__contenedor__article-ContainerImg-img{
    width: 90%;
    &:hover{
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        width: 100%;
    }
}
.blog__contenedorTop{
    @include flex__Center;
    width: 50px;
}
.blog__contenedorTop-img{
    width: 30px;
}
//Cierra Main Mobile First 'Blog'
//Abre Main Mobile First 'Servicios'
.main__Servicios{
    @extend .main; 
}
//Abre Cards Flip "Servcios"
.servicios__section-h1{
    @include title;
}
.section__cardsFlip{
    @include margin__Espaciado(2em,2em);
    @include flex__ColumnCenterAll;
}
.section__cardsFlip__container__flip{
    position: relative;
    width: 14rem;
    height: 20rem;
    @include margin__Espaciado(1em,2em);
    -webkit-perspective: 1000px;
    -o-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &:hover > .front__flip{
        -webkit-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    &:hover > .back__flip{
        -webkit-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}
.card__flip{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(30px);
    -o-backdrop-filter: blur(30px);
    -moz-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    -webkit-box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 1px 5px 20px;
    -o-box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 1px 5px 20px;
    -moz-box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 1px 5px 20px;
    box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 1px 5px 20px;
    color: black;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transition: 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transition: 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);  
    overflow: auto;
}
.front__flip{
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    padding: 10px;
}
.back__flip{
    -webkit-transform: rotateY(100deg);
    -moz-transform: rotateY(100deg);
    -o-transform: rotateY(100deg);
    transform: rotateY(180deg);
    padding: .5em;
}
.card__flip-text{
    text-align: justify;
    font-size: .7em;
}
.card__flip-IMG{
    width: 100%;
    height: 10rem;
}
.card__flip-h5{
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    color: $letra__color-p;
    font-weight: bold;
}
.card__flip-boton{
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    &:hover{
        background-color: #a168d3;
        color: white; 
    }
}
.card__flip-botonCirculo{
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    border-radius: 15pt;
    cursor: pointer;
}
//Cierra Cards Flip "Servicios" MF
//Cierra Main Mobile First 'Servicios' MF
//Abre Main Mobile First 'NOSOTROS' MF
.main__Nosotros{
    @extend .main;
}
//Sección Miembros 'nosotros' MF
.miembros__h1{
    @include title;
    @include margin__Espaciado(1em,1em);
}
.miembros__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.miembros__contenedor__card{
    @include margin__Espaciado(1em,1em);
    width: 90%;
    border-radius: 20px;
    
    -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    justify-content: space-evenly;
    padding: .5em;
}
.miembros__contenedor__card-h4{
    text-align: center;
    @include margin__Espaciado(1em,1em);
    color: map-get($map: $colores, $key: color-titulos1);
}
.miembros__contenedor__card__contenedorIMG{
    @extend .flex__Center;
}
.miembros__contenedor__card__contenedorIMG-img{
    max-width: 300px;
    max-height: 300px;
    width: 80%;
}
.miembros__contenedor__card__bio__h5{
    text-align: center;
    @include margin__Espaciado(1em,1em);
    color: map-get($map: $colores, $key: color-p);
}
//modificación boostrap
ol{
    ul{
    padding-left: 0;
    }
}
//Biografía miembros 'nosotros' MF
//Abre contenedor link contacto 'Nosotros' MF
.miembros__contenedor__card__links{
    @extend .flex__ColumnCenterAll;
    @include margin__Espaciado(0,1em);
}

.miembros__contenedor__card__links__contacto{
    list-style: none;
    margin: .1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    max-width: 400px;
}
.miembros__contenedor__card__links__contenedorIcon{
    @include margin__Espaciado(1em,1em);
    @include flex__Center;
    width: 30px;
    height: 30px;
}
.miembros__contenedor__card__links__icon{
    width: 90%;
    height: 90%;
    &:hover{
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        width: 100%;
        height: 100%;
    }
}
.miembros__contenedor__card__boton{
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    &:hover{
        background-color: #a168d3;
        color: white; 
    }
}
//Cierra contenedor link 'nosotros'
//Iframe Ubicación 'nosotros'
.section__ubicacion{
    @include flex__ColumnCenterAll;
}
.ubicacion__contenedor{
    @extend .flex__ColumnCenterAll;
    text-align: center;
    color: map-get($map: $colores, $key: color-p)
}
.ubicacion__contenedor__h2{
    @include title;
    @include margin__Espaciado(1em,1em);
}
//iframe "nosotros"
.ubicacion__contenedor__contenedorIframe{
    @include margin__Espaciado(1em,2em);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.ubicacion__contenedor__contenedorIframe__iframe{   
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}
.ubicacion__articleContacto{
    border-top: #1f415b solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 2em;
    @include margin__Espaciado(4em,1em);
}
.ubicacion__articleContacto__h2{
    color: map-get($map: $colores, $key: color-titulos1);
}
.ubicacion__articleContacto__ContainerImg{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin__Espaciado(1em,0em);
}
.ubicacion__articleContacto__img{
    width: 90%;
    &:hover{
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
        width: 100%;
    }
}
//Cierra Responsive Mobile First Main 'Nosotros'
//Abre Media Main 'CONTACTO'
.main__Contacto{
    @extend .main;
}
.section__titleContacto__h1{
    @include title;
}
.section__formulario{
    border-radius: 20px;
    box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 1px 5px 20px;
    -moz-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    width: 80%;
    @include flex__ColumnCenterAll;
    @include margin__Espaciado(1em,2em);
}
.section__formulario__contenedor{
    color: map-get($map: $colores, $key: color-p);
    width: 80%;
    @include flex__ColumnCenterAll;
}
.section__formulario__contenedor__h2{
    text-align: center;
    @include margin__Espaciado(1em,1em);
    color: map-get($map: $colores, $key: color-titulos1);
}
.section__formulario__contenedor__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-ajustes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.section__formulario__contenedor__form-input{
    border-style: none;
    box-shadow: rgba(0.5, 0.4, 0.8, 0.6) 5px 2px 20px;
}
.section__formulario__contenedor__h3{
    text-align: left;
    @include margin__Espaciado(1em,1em);
    color: map-get($map: $colores, $key: color-p);
}
.section__formulario__contenedor__boton{
    background-color: map-get($map: $backgrounds, $key: backgraund1);
    color: map-get($map: $colores, $key: color-titulos1);
    font-weight: bold;
    &:hover{
        background-color: #a168d3;
        color: white; 
    }
}
.separador-leve{
    @include margin__Espaciado(.5em,.5em);
}
//Abre Seccion Ubicación Contacto MF
.section__Contacto__Ubicacion{
    @include flex__ColumnCenterAll;
    @include margin__Espaciado(1em,1em);
}
//Iframe "Contacto"
.section__Contacto__Ubicacion__h2{
    text-align: center;
    @include margin__Espaciado(1em,1em);
    color: map-get($map: $colores, $key: color-titulos1);
    &:hover{
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all 2s;
        background-color: map-get($map: $backgrounds, $key: backgraund1);
        border-radius: 5pt;
    }
}
.contenedor__iframe__Contacto{
    @include margin__Espaciado(1em,2em);
    text-align: center;
    color: map-get($map: $colores, $key: color-p);
    width: 100%;
    height: 100%;
    @include flex__ColumnCenterAll
}
.iframe__Contacto{   
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}
//complemento linkeo pages
.section__formulario__pages{
    @include flex__ColumnCenterAll;
}
.section__formulario__pages-contenedor{
    border-top: #1f415b solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 2em;
    @include margin__Espaciado(4em,1em);
}
.section__formulario__pages-h2{
    color: map-get($map: $colores, $key: color-titulos1);
}

.section__formulario__pages-ContainerImg{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin__Espaciado(1em,0em);
}
.section__formulario__pages-img{
    width: 90%;
    &:hover{
        transition: all .2s;
        width: 100%;
    }
}
//Cierra Responsive MF Main 'Contacto'
//MediaQuerie Responsive Screen +360px
//'index' +360px
@media screen and (min-width: 360px){
    //index
    #particles-js{
        max-height: 170px;
    }
    .contenedor__CardsServ__card{
        width: 18rem;
        height: 23rem;
    }
    .contenedor__CardsServ__card-IMG{
        height: 13rem;
    }
    //cierra 'index' +360px
    //abre 'blog' +360px
    .blog__section__publicaciones-card{
        width: 18rem;
        height: 25rem;
    }
    .blog__section__publicaciones__containerIMG{
        height: 13rem;
    }
    //cierra 'blog' +360px
    //abre 'servicios' +360px
    .section__cardsFlip__container__flip{
        width: 18rem;
        height: 25rem;
    }
    .card__flip-IMG{
        height: 14rem;
    }
    .card__flip-text{
    text-align: justify;
    font-size: .8em;
    }
}
//Cierra MediaQuerie Responsive Screen +360px
//MediaQuerie Responsive Screen +500px
//Modifiación logo para menú hamburguesa a la derecha
@media screen and (min-width: 500px){
    .header__containerLogo{
        max-width: 50%;
    }
    #particles-js{
        max-height: 220px;
    }
}
//CIerra MediaQuerie Responsive Screen +500px
//MediaQuerie Responsive Screen +768px
    //Abre Media Main Index +768px
@media screen and (min-width: 768px){
    //abre nav header all pages +768px
    .header__containerLogo{
        max-width: 50%;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    //cierre nav header all pages +768px
    //abre Main 'index' +768px
    //Abre carousel 'index' +768px
    #particles-js{
        max-height: 350px;
    }
    .carousel__banner{
        @include carousel;
    }
    .carousel__banner__slide{
        @include carousel;
    }
    .carousel__banner__slide__containerImg{
        @include carousel;
    }
    .carousel__banner__slide__img{
        @include carousel;
    }
    //Cierra carousel 'index' +768px
    //CardsServ 'Index' +768px
    .contenedor__CardsServ{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly
    }
    .contenedor__CardsServ__card{
        @include margin__Espaciado (2em,2em);
        margin-left: 1em;
        margin-right: 2em;
    }
    .delay-1{
        @include delay-1;
    }
    .delay-2{
        @include delay-2;
    }
    .delay-3{
        @include delay-3;
    }
    // cierra CardsServ 'Index' +768px
    //Abre Sección Servicios 'index' +768px
    .section__Index__servicios {
        @include flex__ColumnCenterAll;
        justify-content: space-around;
        width: 100%;
    }
    .section__Index__Servicios__h1{
        font-size: map-get($map: $tamaños, $key: widht1);
    }
    .contenedor__CardsServ__card-h3{
        font-weight: bold;
        font-size: map-get($map: $tamaños, $key: widht3);
        text-align: center;
        @include margin__Espaciado(1em,0);
    }
    //cierra sección servicios 'index' +768px
    //cierra 'index' +768px
    //Abre blog +768px
    .blog__section__publicaciones{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .blog__section__publicacion{
        width: 18rem;
    }
    .blog__section__contenedor{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .blog__form__sugerencias{
        width: 50%;
        border-top: none;
        margin-right: 2em;
    }
    .blog__section__contenedor__article{
        border-top: none;
        border-left: #1f415b solid 2px;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 40%;
    }
    //Cierra 'blog' +768px    
    //Abre 'Servicios' +768px
    // cambio dirección servicios
    .section__cardsFlip{
        @include margin__Espaciado(2em,2em);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }
    //Cierra Media Main 'index' +768px
    //Abre Media Main Nosotros +768px
    .miembros__contenedor{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .miembros__contenedor__card{
        width: 40%;
    }
    .miembros__contenedor__card__links{
        justify-content: space-evenly;
        @include margin__Espaciado(1em,.5em);
    }
    .miembros__contenedor__card__bio{
        @include margin__Espaciado(1.5em,1.5em)
    }
    .miembros__contenedor__card__links__contenedorIcon{
        width: 40px;
        height: 40px;
    }
    .section__ubicacion{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .ubicacion__contenedor{
        width: 50%;
    }
    .ubicacion__articleContacto{
        width: 50%;
    }
    //Cierra Media Main Nosotros +768px
    //abre 'contacto' +768px
    .section__formulario__contenedor__form{
        align-items:baseline;
    }
    .section__formulario__contenedor__form-input{
        width: 20rem;
    }
    .section__Contacto__Ubicacion{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .contenedor__iframe__Contacto{
        width: 60%;
        height: 100%;
        margin-right: 1em;
    }
    .section__formulario__pages{
        width: 40%;
    }
    .section__formulario__pages-contenedor{
        width: 100%;
        padding: 0em;
        margin-top: 2em;
        margin-bottom: 0em;
        border-top: none;
    }
    //cierra 'contacto' +768px
    //Footer Media Responsive all pages +768px
    .footer__logo{
        width: calc(8em + 8vw);
        height: 100%;
    }
    .footer__redes{
        justify-content: flex-start;
        img{
            width: calc(1.3em + 1.3vw);
        }
        .socialMedia{
            @include flex__ColumnCenterAll;
            height: 50%;
            width: 80%;
            justify-content: space-evenly;
        }
    }
    //CIerra Footer Media +768px
}
//Cierra media responsive +768px
//Abre media responsive +992px
@media screen and (min-width: 992px){
    //abre Main 'index' +992px
    //Abre carousel 'index' +992px
    #particles-js{
        max-height: 400px;
    }
    .carousel__banner{
        max-height: 400px;
        width: 80%;
    }
    .carousel__banner__slide{
        max-height: 400px;
    }
    .carousel__banner__slide__containerImg{
        max-height: 400px;
    }
    .carousel__banner__slide__img{
        max-height: 400px;
    }
    //Cierra carousel 'index' +992px
    //cierra main 'index' +992px
    //abre blog +992px
    .blog__form__sugetencias__input{
        width: 80%;
        max-width: 18rem;
    }
    //cierra blog +992px
    //abre 'contacto' +992px
    .section__formulario__contenedor{
        flex-direction: row;
        flex-wrap: nowrap;
        align-items:baseline;
        justify-content: space-evenly;
    }
    .section__formulario__contenedor-1{
        width: 50%;
        margin-right: 2em;
    }
    .section__formulario__contenedor-2{
        width: 50%;
    }
    .section__formulario__contenedor__h2{
        text-align: left;
        @include margin__Espaciado(1em,1em);
        color: map-get($map: $colores, $key: color-p);
    }
    .form-control{
        height: 12rem;
    }
    //cierra 'contacto'+992px
}
//Abre media responsive +992px
//Cierra Media Responsive +1200px
@media screen and (min-width: 1200px){
    //Abre Media +1200 header todas las paginas
    .container__logo{
        max-width: 50%;
        width: 35%;
        margin-right: 10em;
    }
    //Cierra Media +1200 header todas las paginas
    //Abre Media Main Index +1200px
    #particles-js{
        max-height: 450px;
    }
    //Abre carousel 'index' +1200px
    .carousel__banner{
        max-height: 450px;
        max-width: 80%;
        width: 65%;
    }
    .carousel__banner__slide{
        max-height: 450px;
    }
    .carousel__banner__slide__containerImg{
        max-height: 450px;
    }
    .carousel__banner__slide__img{
        max-height: 450px;
    }
    .contenedor__CardsServ__card{
        margin-right: 2em;
    }
    // cierra CardsServ 'Index'
    //Cierra Media Main 'Index' +1200px
    //Abre Media 'Servicios' +1200px
    .section__cardsFlip{
        @include margin__Espaciado(1em,1em);
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section__cardsFlip__container__flip{
        @include margin__Espaciado(1em,2em);
    }
    //Cierra Media 'Servicios' +1200px
    //Abre Media 'Contacto' +1200px
    .iframe__Contacto{
        max-width: 60%;
    }
    //Cierra Media 'Contacto' +1200px
    //Abre Footer +1200px all pages
    .footer__redes{
        img{
            width: calc(1.4em + 1.4vw);
            height: map-get($map: $tamaños, $key: height2);
            }
        .socialMedia{
            @include flex__Center;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
    }

    //Cierra footer -1200px all pages
}
//Abre MediaQuerie Responsive 1330px
@media screen and (min-width: 1330px){
    //Corrección scroll horizontal a partir de estos px (origen incierto)
    #grilla__Index {
        overflow-x: hidden;
    }
    #grilla__Blog {
        overflow-x: hidden;
    }
    #grilla__Contacto {
        overflow-x: hidden;
    }
    #grilla__Nosotros {
        overflow-x: hidden;
    }
    #grilla__Servicios {
        overflow-x: hidden;
    }

    //Tamaño img redes footer
    .footer__redes{
        img{
            height: calc(1.8em + 1.8vh);
        }
    } 
}